<h2 class = 'center'><%=@user.username %></h2>
<br />
<div class = "address">
  <%if @user.profile%>
    <h3><%=@user.profile.address_line_one%></h3>
    <h3><%=@user.profile.address_line_two%></h3>
    <h3><%=@user.profile.address_line_three%></h3>
    <h3><%=@user.profile.address_post_code%></h3>
    <h3>Birthday: <%=@user.profile.birthday%></h3>
  </div>
  <%else%>
    <h3><%=@user.username %> hasn't added profile info yet</h3>
  <%end%>
  <br/>
  <br/>
  <br/>
  <br/>


(users show)
